In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('GBPJPY_D.csv')

In [6]:
df.tail()

      Unnamed: 0        Date    open    high     low   close  vol tick
1171        1171  2021.07.09  151119  153078  150927  153049    106289
1172        1172  2021.07.12  152824  153342  152407  153185     77712
1173        1173  2021.07.13  153189  153485  152410  152745     88169
1174        1174  2021.07.14  152743  153296  152336  152381     90865
1175        1175  2021.07.15  152375  152802  151608  151843     98037

In [8]:
df = df[df['vol tick'] != 0]
df.reset_index(drop=True, inplace=True)
df.isna().sum()
df.tail()

      Unnamed: 0        Date    open    high     low   close  vol tick
1171        1171  2021.07.09  151119  153078  150927  153049    106289
1172        1172  2021.07.12  152824  153342  152407  153185     77712
1173        1173  2021.07.13  153189  153485  152410  152745     88169
1174        1174  2021.07.14  152743  153296  152336  152381     90865
1175        1175  2021.07.15  152375  152802  151608  151843     98037

In [ ]:
# definindo funções 

def suporte(df1, l, n1, n2):
    for i in range(l-n1+1, l+1):
        if(df1.low[i]>df1.low[i-1]):
            return 0

    for i in range(l+1, l+n2+1):
        if (df1.low[i]<df1.low[i-1]):
            return 0
    return 1

def reistencia(df1, l, n1, n2):
    for i in range(l-n1+1,l+1):
        if(df1.high[i]<df1.high[i-1]):
            return 0 
    
    for i in range(l+1, l+n2+1):
        if (df1.high[i]>df1.high[i-1]):
            return 0

    return 1